@import url('');

html {
    font-size: 62.5%;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

header {
    margin: 2rem;
    font-size: 2rem;
}

.game-section {
    position: relative;
}

.outer-circle {
    height: 100vw;
    max-height: 50rem;
    width: 100vw;
    max-width: 50rem;
    background-color: blue;
    border: 0.5rem solid black;
    border-radius: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1rem 2px;

    z-index: 4;
}

/* --------Test Loading Bar */

.middle-circle {
    height: 31rem;
    width: 31rem;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timer {
    height: 100%;
    width: 100%;
    background-color: blue;
    border-radius: 50%;
    clip: rect(0px, 31rem, 31rem, 15.5rem);
    position: absolute;
}

.loading {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 50%;
    clip: rect(0px, 31rem, 31rem, 15.5rem);
    position: absolute;
}

.left .loading { 
    -webkit-animation: left 10s linear;
    -moz-animation: left 10s linear;
    animation: left 10s linear both;

    z-index: 4;
}

@keyframes left {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@-webkit-keyframes left {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180deg);
    }
}

.right {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);

    z-index: 3;
}

.right .loading {
    -webkit-animation: right 10s linear;
    -moz-animation: right 10s linear;
    animation: right 10s linear both;
    
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    animation-delay: 10s;

    z-index: 3;
}

@keyframes right {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@-webkit-keyframes right {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

/* -------------------- Inner Circle */

.inner-circle {
    height: 25rem;
    width: 25rem;
    background-color: white;
    border: .5rem solid black;
    border-radius: 50%;
    margin: auto;
    padding: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1rem 2px;
    overflow: hidden;
    z-index: 4;

    transition: all 1s;
}

.inner-circle-load {
    height: 1px;
    width: 1px;
    padding: 0;
}

.tally {
    /* height:15%; */
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

.question-num,
.score {
    height: 4rem;
    width: 4rem;
    font-size: 1.25rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#category {
    width: 80%;
}

#question {
    /* height:25%; */
    font-size: 1.5rem;
}

/* -------------Buttons */

.btn-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 4rem;
    width: 10rem;
    font-size: 1.2rem;
    border: .1rem solid black;
    border-radius: 1rem;
    margin: 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.btn:hover {
    background-color: blue;
    color: white;
    border: 2px solid black;
}

.btn-answer {
    margin: 2px;
}

.btn-start {
    height: 6rem;
    width: 12rem;
    font-size: 4rem;
    margin-top: 1.5rem;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.hide {
    display: none;
}

.how-to-play {
    position: relative;
    top: 80vh;
    justify-content: center;
    align-items: center;
}

.how-to-play:hover {
    color: blue;
}

/* --------------- Help modal */

.help-modal {
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.75);
    padding-top: 5vh;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;

    z-index: 99;
}

.help-content {
    height: 90vh;
    width: 90vw;
    background-color: #fefefe;
    border: 1px solid #888;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1rem 3px;
}

.help-content ul {
    padding-left: 0;
}

.help-content ul li {
    padding: 1rem;
    list-style: none;
}

#helpExit:hover {
    background-color: blue;
}